<template>
  <div
    class="direct-chat-messages"
    id="dm"
    style="height: 331px !important; overflow-x: hidden"
  >
    <!-- Message. Default to the left -->
    <div class="row" v-for="message in messages">
      <div :class="message.user_id == user_id ? 'col-5' : ''"></div>
      <div
        class="direct-chat-msg col-md-7"
        :class="message.user_id == user_id ? 'right' : ''"
      >
        <div class="direct-chat-infos clearfix">
          <span
            class="direct-chat-name"
            :class="message.user_id == user_id ? 'float-right' : 'float-left'"
            >{{ message.user.name }}</span
          >
          <sub
            class="direct-chat-timestamp"
            :class="message.user_id == user_id ? 'float-right' : 'float-left'"
            >{{ message.created_at.substr(10, 6) }}</sub
          >
        </div>
        <!-- /.direct-chat-infos -->
        <!-- <img
          class="direct-chat-img"
          :src="photo"
          alt="message user image"
        /> -->
        <!-- /.direct-chat-img -->
        <div
          class="direct-chat-text m-0"
          :class="message.user_id == user_id ? 'float-right' : 'float-left'"
          style="display: inline-block"
        >
          {{ message.message }}
        </div>
        <div :class="message.user_id == user_id ? '' : 'col-5'"></div>
        <!-- /.direct-chat-text -->
      </div>
      <!-- /.direct-chat-msg -->
    </div>
  </div>
</template>

<script>
export default {
  props: ["messages", "messagesdb", "ticket_id", "user_id", "photo"],
  created() {
    // this.$emit("replacemessage", this.messagesdb);
    this.messages = this.messagesdb;
    Echo.private("chat").listen("MessageSent", (e) => {
      // console.log(e);
      var message_res = e.message;
      message_res.user = e.user;
      // if (e.message.ticket_id == this.ticket_id && e.user.id != this.user_id) {
      if (e.message.ticket_id == this.ticket_id) {
        this.messages.push(message_res);
        // this.$emit("pushmessage", {
        //   message: e.message.message,
        //   user: e.user,
        // });
        // this.messages.push({
        // });
      }
    });
  },
};
</script>
