<template>
  <!-- <div class="input-group">
    <input
      id="btn-input"
      type="text"
      name="message"
      class="form-control input-sm"
      placeholder="Type your message here..."
      v-model="newMessage"
      @keyup.enter="sendMessage"
    />

    <span class="input-group-btn">
      <button class="btn btn-primary btn-sm" id="btn-chat" @click="sendMessage">
        Send
      </button>
    </span>
  </div> -->
  <div class="input-group">
    <input
      id="btn-input"
      type="text"
      name="message"
      placeholder="Type Message ..."
      class="form-control"
      v-model="newMessage"
      @keyup.enter="sendMessage"
    />
    <span class="input-group-append">
      <button type="button" class="btn btn-primary" id="btn-chat" @click="sendMessage">
        Send
      </button>
    </span>
  </div>
</template>

<script>
export default {
  props: ["user", "ticket_id"],

  data() {
    return {
      newMessage: "",
    };
  },

  methods: {
    sendMessage() {
      // this.$emit("addMessage", {
      //   user: this.user,
      //   message: this.newMessage,
      // });
      axios
        .post("/messages", {
          user: this.user,
          ticket_id: this.ticket_id,
          message: this.newMessage,
        })
        .then((response) => {
          console.log(response.data);
        });

      this.newMessage = "";
    },
  },
};
</script>
